.used-column-l {
    width: 350px;
}

.used-dropdowns {
    margin-top: 25px !important;
}

.input-container {
    width: 100%;
    padding-top: 15px;
    position: relative;
    display: flex;
    align-items: center;
}

.styled-input {
    margin: 0px;
    padding: 0;
    width: 100%;
    padding-left: 45px;
    height: 40px;
    box-sizing: border-box;
}

.input-icon {
    position: absolute;
    left: 10px;
    height: 30px;
    width: 30px;
}

.grid-cars {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}